.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.pagesNumbers:first-child {
    padding-left: 0;
}
.selectedPage {
    font-weight: bold;
    padding-left: 5px;
}
.commonPage {
    padding-left: 5px;
}
.userList {
    display: flex;
    flex-wrap: wrap;
}
.userListItem {
    max-width: 300px;
    font-family: Montserrat;
    margin: 15px 0 0 15px;
}
.userName {
    font-size: 20px;
}