.header {
    grid-area: h;
    background: #212121;
}

.logoName {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    border-radius: 5px;
    background-color: #26A69A;
}
.notAuthUserLogin {

}
.name {
    font-family: Montserrat;
    font-size: 20px;
    padding-left: 20px;
    color: white;
}
.loginBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    float:right;
    width: 200px;
    height: 100%;

}
.loginBlock a {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out ;
}
.loginBlock a:hover {
    color: #26A69A;
}
.userInfo {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-areas:
    "A A A B B B"
    "C C C C C C";
    position: relative;
    grid-template-rows: auto;
    grid-template-columns: 25px 100px;
    gap: 15px;
    row-gap: 0;
    align-content: center;
}
.userAvatar {
    grid-area: A;
    width: 25px;
    height: 25px;
    border-radius: 50%;

}
.userLogin {
    grid-area: B;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    transition: color 0.2s ease-in-out ;
}
.userLogin:hover {
    color: #26A69A;
}
.logoutMenu {
    grid-area: C;
    display: none;
    font-family: Montserrat;
    font-size: 16px;
    color: #ff4b41;
    text-align: center;
    position: absolute;
    min-width: 140px;
    z-index: 1;
}

.userInfo:hover .logoutMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 246, 239);
    transition: .2s;
}
.userInfo:hover .logoutMenu:hover {
    background-color: #f63b4a;
    color:#F5F5F5;
    cursor: pointer;
}
.userInfo:hover .logoutMenu:focus {
    background-color: #a92933;
}

