.header {
    grid-area: h;
    background: white;
}

.logoName {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;

    background-color: #26A69A;
}

.name {
    padding-left: 20px;
    color: white;
    font-weight: bold;
}
