.nav {
    grid-area: n;
    background: linear-gradient(to left, pink, darkviolet);
}


.item {
    color: white;
    text-decoration: none;
}
.item:hover {
    color:#333;
}
.active {
    color: gold;
    text-decoration: none;
}
.active:hover {
    color:yellow;

}