.loginPage {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;

}
.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.loginFormTitle {
    letter-spacing: 2px;
    font-weight: normal;
}
.loginField {
    margin-bottom: 10px;

}
.loginFormBlock {
    display: flex;
    width: 263px;
    height: 291px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.loginFieldItem {
    outline: none;
    display: block;
    width: 150px;
    padding: 0 20px;
    background: rgba(216, 255, 251, 0.65);
    line-height: 40px;
    border: 2px solid transparent;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: .3s border ease-in-out;

}
.withErrorLoginFieldItem {
    outline: none;
    display: block;
    width: 150px;
    padding: 0 20px;
    background: #fff6f6;
    line-height: 40px;
    border: 2px solid #f63b4a;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: .3s border ease-in-out;
}
.withErrorLoginFieldItem::placeholder {
    color: rgba(44, 39, 44, 0.56)
}
.errorMessage {
    font-size: 15px;
    font-family: Montserrat;
    margin-left: 10px;
    color: #f63b4a;
}
.loginButton {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    background: #29b4ab;
    border: none;
    border-bottom: 4px solid #269f9c;
    color: white;
    border-radius: 25px;
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    transition: .2s;
}
.loginButton:hover {
    background-color: #2dccc1;
    color: white;
    transform: translateY(-7px);
}
.loginButton:focus {
    background-color: #2fd9cd;
}
.withErrorLoginButton {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    background: #fe5c53;
    border: none;
    border-bottom: 4px solid rgba(246, 59, 74, 0.4);
    color: white;
    border-radius: 25px;
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    transition: .2s;
}
.rememberMeBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rememberMeText {
    font-size: 13px;
}