.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
    margin: 10px;

}
.dialogsItemName{
    width: 200px;
    align-self: center;
}
.dialogsItemAvatar img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;

    box-shadow: 0 0 7px #333;
}
.dialogsItems {
    display: block;
    padding: 10px;
    margin: 10px;
}
.item {
    color: #141414;
    text-decoration: none;
}

.active {
    display: block;
    text-align: center;
    height:30px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    background-color: #26A69A;
}
.dialog {
    height: 1.5rem;
    border: #FFFFFF 1px solid;
    padding: 5px 0px 0px 10px;
    margin-bottom: 1px;
}


.messages {
    margin-left: 20px;
    padding: 10px;
    padding-left: 80px;
    border-left: grey 1.2px solid;
}
