.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-family: Montserrat;
}
.dialogsItem{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
    margin: 10px;

}
.dialogsItemName{
    width: 200px;
    align-self: center;
}
.dialogsItemAvatar img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;

    box-shadow: 0 0 7px #333;
}
.dialogsItems {
    display: block;
    padding: 10px;
    margin: 10px;
}
.item {
    color: #141414;
    text-decoration: none;
}

.active {
    display: block;
    text-align: center;
    height:30px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    background-color: #26A69A;
}
.dialog {
    height: 1.5rem;
    border: #FFFFFF 1px solid;
    padding: 5px 0px 0px 10px;
    margin-bottom: 1px;
}


.messages {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 80px;
    border-left: grey 1.2px solid;
}

.addMessage {
    padding-top: 10px;
    display: grid;
    grid-template-areas:
            "A A A A"
            "B B B B"
            "C C C C";
    column-gap: 5px;
    row-gap: 5px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: repeat(9,1fr);
    justify-items: stretch;
}

.textArea {
    grid-area: A;
    resize: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 0 20px;
    background: white;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;

}
.withoutSendMessageButton {
    display: none;
}
.errorMessage {
    grid-area: C;
    font-size: 15px;
    font-family: Montserrat;
    margin-left: 10px;
    color: #f63b4a;
}
.buttonBlock {
    grid-area: B;
}
.sendMessageButton {
    grid-area: B;
    width: 130px;
    height: 45px;
    margin-top: 10px;
    background: #29b4ab;
    border: none;
    border-bottom: 4px solid #269f9c;
    color: white;
    border-radius: 25px;
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    transition: .2s;
}
.sendMessageButton:hover {
    background-color: #2dccc1;
    color: white;
    transform: translateY(-7px);
}
.sendMessageButton:focus {
    background-color: #2fd9cd;
}
